<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/layer/layer.js"></script>
<style type="text/css">
    .header
    {
        width: 99%;
        height: 43px;
        background: #96b97d;
        line-height: 40px;
    }
    .col-sm-2
    {
        position: relative;
        min-height: 1px;
        padding-right: 0px;
        padding-left: 0px;
        top: 0px;
        left: 0px;
    }
    div.col-sm-10
    {
        position: relative;
        min-height: 1px;
        padding-right: 2px;
        padding-left: 2px;
        top: 0px;
        left: 0px;
    }
    h2
    {
        margin-top: 0px;
    }
    .panel-group
    {
        background: #dff0d8;
    }
    .panel-default > .panel-heading
    {
        color: #333;
        background-color: #dff0d8;
        border-color: #ddd;
    }
    .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover
    {
        color: #333333;
        background-color: #dff0d8;
    }
    a
    {
        color: #333333;
        text-decoration: none;
    }
</style>
<script type="text/javascript">
    $(function () {
        var divId = localStorage.getItem("id");
        $("#" + divId + "").addClass('in');
        var liId = localStorage.getItem("liId");
        $("#" + liId + "").addClass('active');

        $(".panel-body ul li a").click(function () {
            var all_lis = $(this).parents("div").find(".in");
            var id = all_lis[0].id;
            var parent = $(this).parent(); // 父节点
            var liId = parent[0].id;
            localStorage.setItem("liId", liId);
            localStorage.setItem("id", id);
        })
    })
</script>

</head>
<body>
<!--上部-->
<div class="header">
    <center>
        <h2>
            后台管理系统</h2>
    </center>
</div>

<!--左侧-->
<div class="col-md-2">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">学员管理</a></h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li id="dbdz"><a href="http://127.0.0.1:2001/index">学员列表</a></li>
                        <li id="ycllr"><a href="http://127.0.0.1:2001/excel">批量开通学员</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">讲师管理</a></h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li id="jgdx1"><a href="http://127.0.0.1:3001/teacher/index">讲师列表</a></li>
                        <li id="ghsgl"><a href="http://127.0.0.1:3001/teacher/add">添加讲师</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">专业管理</a></h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li id="kcgl"><a href="http://127.0.0.1:4001/subject/index">专业课程</a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">课程管理</a></h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse ">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li id="yaopinflow2"><a href="http://127.0.0.1:5001/course/index">课程列表</a></li>
                        <li id="qyxxwh"><a href="http://127.0.0.1:5001/course/add">添加课程</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">系统管理</a></h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li id="yhgl"><a href="#">操作员管理</a></li>
                        <li id="gzbm"><a href="#">工作部门</a></li>
                        <li id="xtsz2"><a href="#">系统信息维护</a></li>
                        <li id="changePwd"><a href="#">密码修改</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--右侧-->
<div class="col-md-10">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="glyphicon glyphicon-th"></i> 添加讲师</h3>
        </div>
        <div class="panel-body">
            <!--表单-->
            <form enctype="multipart/form-data" method="post" style="text-align:center;margin-right: 20%" class="form-horizontal" action="/teacher/change" id="selectForm">

                <input name="userId" type="hidden" th:value="${teacher == null?'':teacher.id}"/>
                <input name="pageNo" type="hidden" th:value="${teacher == null?'':param.pageNO[0]}"/>
                <div class="form-group">
                    <label for="jsmc" class="col-sm-4 control-label">讲师名称</label>
                    <div class="col-sm-8">
                        <input type="text" th:value="${teacher == null?'':teacher.name}" name="name" class="form-control" id="jsmc" placeholder="讲师名称">
                    </div>
                </div>
                <div class="form-group">
                    <label for="jszl" class="col-sm-4  control-label">讲师资历</label>
                    <div class="col-sm-8">
                        <textarea rows="3" th:text="${teacher == null?'':teacher.education}" name="education" class="form-control" id="jszl"  placeholder="讲师资历"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="jszy" class="col-sm-4 control-label">讲师专业</label>
                    <div class="col-sm-8">
                        <input type="text" th:value="${teacher == null?'':teacher.subjectId}" name="subject" class="form-control" id="jszy"  placeholder="讲师专业">
                    </div>
                </div>
                <div class="form-group">
                    <label for="jsdj" class="col-sm-4 control-label">讲师等级</label>
                    <div class="col-sm-8" id="jsdj">
                        <select class="form-control" name="range">
                            <option th:selected="(${teacher!= null} and ${teacher.isStar == 1})" value="1" >高级讲师</option>
                            <option  th:selected="(${teacher!= null} and ${teacher.isStar == 2})" value="2">首席讲师</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="jspx" class="col-sm-4 control-label">讲师排序</label>
                    <div class="col-sm-8">
                        <input type="text" th:value="${teacher == null? '':teacher.sort}" name="order" class="form-control" id="jspx"  placeholder="讲师排序">
                    </div>
                </div>
                <div class="form-group">
                    <label for="jsjj" class="col-sm-4 control-label">讲师简介</label>
                    <div class="col-sm-8">
                        <textarea rows="3" th:text="${teacher == null?'':teacher.career}" name="desc" class="form-control" id="jsjj" placeholder="讲师简介"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="jstx" class="col-sm-4 control-label">讲师头像</label>
                    <div class="col-sm-5 col-sm-offset-3">

                       <!-- <img class="col-sm-6" th:src="${teacher == null?'':teacher.picPath}" style="width: 300px;height: 150px">-->
                        <div class="col-sm-6">
                            <!--file 真正的上传图片-->
                            <input type="file" style="opacity: 0;display:none;"  id="jstx" placeholder="讲师头像" name="file">
                            <img  th:src="${teacher == null?'':teacher.picPath}" th:style="${teacher == null?'display:none;width: 300px;height: 150px':''}">
                            <label type="button"  for="jstx" class="btn btn-info">上传图片</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-8 col-sm-4">
                        <button type="button" class="btn btn-success" id="select"><i class="glyphicon glyphicon-search"></i> 确定</button>
                        <button type="button" class="btn btn-danger" ><i class="glyphicon glyphicon-remove"></i> 取消</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    $(":file").change(function(event){
        var files = event.target.files, file;
        if (files && files.length > 0) {
            file = files[0];
        }
        var URL = window.URL || window.webkitURL;
        var imgURL = URL.createObjectURL(file);
        var imgobj = $(this).next();
        imgobj.attr("src", imgURL);
        imobj.gshow();
    });
    
    $("#select").click(function () {
        $("#selectForm").submit();
    });

</script>
</html>